# Project exclude paths
/ic-business/ic-class-teacher-business/target/
/ic-business/ic-class-teacher-feign/target/
/ic-business/ic-course-teacher-business/target/
/ic-business/ic-course-teacher-feign/target/
/ic-business/ic-exercise-teacher-business/target/
/ic-business/ic-exercise-teacher-feign/target/
/ic-business/ic-homework-student-business/target/
/ic-business/ic-homework-student-feign/target/
/ic-business/ic-homework-teacher-business/target/
/ic-business/ic-homework-teacher-feign/target/
/ic-business/ic-oauth2/ic-oauth2-business/target/
/ic-business/ic-oauth2/ic-oauth2-utils/target/
/ic-business/ic-profile/ic-profile-business/target/
/ic-business/ic-profile/ic-profile-feign/target/
/ic-business/ic-registry-business/target/
/ic-business/ic-student-business/target/
/ic-business/ic-student-feign/target/
/ic-common/ic-common-base/target/
/ic-common/ic-common-mongodb/target/
/ic-common/ic-upload/ic-upload-image/target/
/ic-grateway/target/
/ic-provider/ic-chapter/ic-chapter-api/target/
/ic-provider/ic-chapter/ic-chapter-service/target/
/ic-provider/ic-class/ic-class-api/target/
/ic-provider/ic-class/ic-class-service/target/
/ic-provider/ic-course/ic-course-api/target/
/ic-provider/ic-course/ic-course-service/target/
/ic-provider/ic-exercise/ic-exercise-api/target/
/ic-provider/ic-exercise/ic-exercise-service/target/
/ic-provider/ic-homework/ic-homework-api/target/
/ic-provider/ic-homework/ic-homework-service/target/
/ic-provider/ic-student/ic-student-api/target/
/ic-provider/ic-student/ic-student-service/target/
/ic-provider/ic-ums-admin/ic-ums-admin-api/target/
/ic-provider/ic-ums-admin/ic-ums-admin-service/target/
.idea
*.iml